text {
  stroke: #333;
  stroke-width: 0.5px;
  fill: #333;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: textAnime 5s linear;
}
@keyframes textAnime {
  0% {
    stroke-dashoffset: 600;
    fill:transparent;
  }
  50% {
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill:#333;
  }
}

div {
  position: fixed;
  width: 200%;
  top: 0;
  z-index: 10000;
}


#container {
  padding-top: 150px;
}


