html {
position: relative;
position: absolute;
top:64%;
left:50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
font-size: 13px

}

body{
font-family:"游明朝";
font-size:16px; 
color:;
}

html {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0.1;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family:"Yu Mincoho" ;
  }
  @font-face {
    font-family: 'MonacoRegular';
    src: url('monaco/monaco-webfont.eot');
    src: url('monaco/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('monaco/monaco-webfont.woff') format('woff'),
         url('monaco/monaco-webfont.ttf') format('truetype'),
         url('monaco/monaco-webfont.svg#MonacoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



