
 html{
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 0;
}
 
body{
position: relative;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
font-size: 14px;
}

header{
margin:10px;
}

body{
font-family:"";
font-size:18px; 
color:;
}

html {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0.1;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family:"Yu Mincoho" ;
    appearance:none;
  }
  @font-face {
    font-family: '';
    src: url('monaco/monaco-webfont.eot');
    src: url('monaco/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('monaco/monaco-webfont.woff') format('woff'),
         url('monaco/monaco-webfont.ttf') format('truetype'),
         url('monaco/monaco-webfont.svg#MonacoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
 background-image: url(http://itou33good.starfree.jp/wp-content/uploads/2023/01/1test-2.svg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 background-size:contain;
}

